@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}



body {
    font-family: "myriad-pro","MyriadPro-Regular", sans-serif;
  
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.container-fluid{
    margin-left: 7em;
    margin-right: 7em;
}

.utility-bar {
    background: linear-gradient(#2498f3, #1d86d9);
}

.utility {
    display: inline !important;
    float: right;
    color: white;
}

.navigation {
    list-style: none;
    text-align: center;

}

.navigation li{
    display: inline-block;
}


.navigation a{
    display: inline-block !important;
    margin-bottom: 1em;
    margin-top: 1.5em;
    margin-right: -.75em;
    margin-left: -.75em;
   
    
}



.nav-b {
    z-index: -1;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url( ../images/nav-background.png);
}

.shadows {
    position: relative;
   
    margin-top: -2em;
    right: 3.5em;
    top: 1em;
}

.dash-head {
    background: #33cc66;
    color: white;
    font-size: 18pt;
    font-weight: 100;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: .25em;
    overflow: hidden;
    
}

.search-box{
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    border-radius: .15em;
    border-style: solid;
    border-color: #2db55b;
    border-width: thin;
    width: 50%;
    box-shadow:

}

.search {
    border-radius: .15em;
    border-style: solid;
    border-color: #2db55b;
    border-width: thin;
    height: 1.3em;
    background-image: url(../images/pngs/search-icon.png);
    background-repeat: no-repeat;
    color: black;
    
    
}

.grey-box {
    background: linear-gradient(#f6f6f6 5%, #fff);
    padding: 1em;
    border-radius: .5em;
    margin-left: -15px;
    margin-right: -15px;
}

.white-box {
    background-color: white;
    border-color: #eeeeee;
    border-width: 1px;
    border-style: solid;
    box-shadow: -1px 0 #eee;
    box-shadow: 1px 0 #eee;
    padding-right: 1.1em;
    padding-left: 1.1em;
    
}



.grid {
    padding-top: 1em;
    height: 3.3em;
    margin: 0px;
}




.border-right{
    border-right-color: #eeeeee;
    border-right-width: 1px;
    border-right-style: solid;
}

.border-left{
    border-left-color: #eeeeee;
    border-left-width: 1px;
    border-left-style: solid;
}

.border-top{
    border-top-color: #eeeeee;
    border-top-width: 1px;
    border-top-style: solid;
}

.border-bottom{
    border-bottom-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.category-title{
    font-size: 24pt;
    color: #2498f4;
    padding-top: 15px;
}

.subtitle {
     font-size: 16pt;
     padding-top: 15px;
    padding-bottom: 15px;
}

a.task-link {
    color: #2498f4;
    display: inline-block;
    width: 100%;
    
}


a.task-link:hover {
    color: #cccccc;
    text-decoration: none;
}




.circle{
    background-image: url(../images/pngs/green-circle.png);
    background-repeat: no-repeat;
    background-position: 0px 15px;
    margin-left: 15px;
    
}

.circle:hover{
    background-image: url(../images/pngs/grey-circle.png);
    background-repeat: no-repeat;
}

.list-number {
    color:white;
    position: relative;
    right: 8px;
    bottom: 3px;
    font-size: 12pt;
    margin-right: 15px;
}
    

.person-count{
    display: inline;
    background-image: url(../images/pngs/blue-man.png);
    background-repeat: no-repeat;
    background-position: 15% 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc ;
    border-radius: .25em;
    float: right;
    padding-left: 33px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 12pt;
    margin-right: 10px;
}

.task-link:hover .person-count {
    background-image: url(../images/pngs/grey-man.png);
    background-repeat: no-repeat;
}

.smalltext {
    font-size: 8pt;
    color: #999999;
}

.mediumtext {
    font-size: 12pt;
    color:#777777
}

.recommendation {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #eee;
}

.recommendation-item {
    margin-left: 5px;
   
}

.mini-header {
    color: #777777;
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom:10px;
}


.round-chart{
   text-align: center;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-image:
      linear-gradient(to right, #ddd, #fff) 1 100%; 
}

.social-channels {
    margin-left: 175px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.badge-facebook {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #114570;
    border-radius: .25em;
}

.badge-twitter {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #2298f4;
    border-radius: .25em;
}

.badge-foursquare {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #3a599b;
    border-radius: .25em;
}

.badge-google {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #31cc66;
    border-radius: .25em;
}




@media screen and (max-width: 1000px) {
  
.hidden-phone {
    display: none;
}

.search-box {
    padding-top: 5px;
    transform: none;
    float: left;
}

.nav-b {
    background: none;
    background-image: url(../images/pngs/whynot.png);
    background-repeat: repeat;
}


.container-fluid{
    margin-left: 0;
    margin-right: 0;
}

.shadows {
    display: none;

}

.navigation li{
    margin-right: .8em;
    margin-left: .8em;
}

ul.navigation  {
    padding-left: 0px !important;
}

#announcement-text{
    padding-top: 0px;
}

.smalltext {
    display: none;
}

.recommendation-item {
    padding-left: 50px;
    position: relative;
    bottom: 15px;
}

.round-chart{
    border: none;
}

#referrals{
    margin-top: 0px;
}

.social-channels {
    display: inline;
    margin-left: 0px;
}

}




#mini-of-raleigh {
    padding-top: 1.3em;
    padding-right: 1em;
    font-size: 8pt;
}

a#men-icon {
    padding-bottom: 3.3em;
}

#orange-text {
    color: #ff9b13;
}

#circle-arrows{
    padding-right: 10px;
}

#gear {
    float: right;
    padding-top: 11px;
}

#smallbox {
    width: 57px;
}


#date-range {
    padding: 0px;
    font-size: 10pt;
    color: #666666;
    height: 30px;
    border-radius: .25em;
}

#date-range-text {
    margin: 10px;
}

#dropdown-text {
    padding-right: 10px;
}

#referrals{
    margin-top: 10px;
}